@tailwind base;
@tailwind components;
@tailwind utilities;

/* project base styles */
html { color-scheme: dark; }
body { font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
